.img-wrapper img{
    width: 70px;
    height: 78px;
    margin: -9px
}

.btn-wrapper button{
background-color: red;
border: 0px;
padding: 10px;
border-radius: 4px;
color: #fff;
box-shadow: #000 0px 1px 5px;
}


.cart-wrapper{
    height: 100px;
    width: 500px;
    border: 1px solid #ccc;
}
.item{
    float: left;
    display: inline-block;
    width: 120px;
    padding: 20px;
}
.add-to-cart img{
    width: 80px;
    position: absolute;
    right: 1%;
    top: 1%;
}