.img-wrapper img{
    width: 70px;
    height: 78px;
    margin: -9px
}

.btn-wrapper button{
background-color: red;
border: 0px;
padding: 5px;
border-radius: 4px;
color: #fff;
box-shadow: #000 0px 1px 5px;
cursor: pointer;
}


.cart-wrapper{
    height: 100px;
    width: 500px;
    border: 1px solid #ccc;
}
.item{
    float: left;
    display: inline-block;
    width: 120px;
    padding: 20px;
}
.add-to-cart img{
    width: 80px;
    position: absolute;
    right: 1%;
    top: 1%;
}
.add-to-cart span{
    position: absolute;
    right: 20px;
    top: 3px;
    /* right: 4px; */
    background: red;
    padding: 11px;
    width: 8px;
    color: #fff;
    border-radius: 50%;
    z-index: 1;
}
button.remove-to-cart{
    background-color: green;
    margin-top: 6px;
    padding: 8px;
}